
.publicContainer {
  background-color: var(--color-white);
}

.actionsContainer {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

.generateButton {
  background-color: var(--color-white);
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-200);
}

.generateButton:not(:disabled):hover {
  background-color: var(--color-gray-50);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.submitButton {
  background-color: var(--color-gray-800);
  color: var(--color-white);
}

.submitButton:not(:disabled):hover {
  background-color: var(--color-black);
}